<section class="w-full max-w-[1440px] px-6 md:px-10 py-6 mx-auto">
    <h2 class="text-[#181811] text-[22px] font-bold leading-tight tracking-[-0.015em] pb-6">Danh mục phổ biến</h2>
    <div class="flex gap-4 flex-wrap pb-2">
        <a href="#" class="group flex h-12 items-center gap-3 rounded-full bg-white border border-gray-100 pl-4 pr-6 hover:border-primary hover:shadow-md transition-all">
            <div class="flex size-8 items-center justify-center rounded-full bg-neutral-light group-hover:bg-primary transition-colors">
                <span class="material-symbols-outlined text-[20px]">sports_esports</span>
            </div>
            <span class="text-[#181811] font-bold">Laptop Gaming</span>
        </a>
        <a href="#" class="group flex h-12 items-center gap-3 rounded-full bg-white border border-gray-100 pl-4 pr-6 hover:border-primary hover:shadow-md transition-all">
            <div class="flex size-8 items-center justify-center rounded-full bg-neutral-light group-hover:bg-primary transition-colors">
                <span class="material-symbols-outlined text-[20px]">business_center</span>
            </div>
            <span class="text-[#181811] font-bold">Văn Phòng</span>
        </a>
        <a href="#" class="group flex h-12 items-center gap-3 rounded-full bg-white border border-gray-100 pl-4 pr-6 hover:border-primary hover:shadow-md transition-all">
            <div class="flex size-8 items-center justify-center rounded-full bg-neutral-light group-hover:bg-primary transition-colors">
                <span class="material-symbols-outlined text-[20px]">brush</span>
            </div>
            <span class="text-[#181811] font-bold">Đồ Họa</span>
        </a>
        <a href="#" class="group flex h-12 items-center gap-3 rounded-full bg-white border border-gray-100 pl-4 pr-6 hover:border-primary hover:shadow-md transition-all">
            <div class="flex size-8 items-center justify-center rounded-full bg-neutral-light group-hover:bg-primary transition-colors">
                <span class="material-symbols-outlined text-[20px]">laptop_mac</span>
            </div>
            <span class="text-[#181811] font-bold">MacBook</span>
        </a>
        <a href="#" class="group flex h-12 items-center gap-3 rounded-full bg-white border border-gray-100 pl-4 pr-6 hover:border-primary hover:shadow-md transition-all">
            <div class="flex size-8 items-center justify-center rounded-full bg-neutral-light group-hover:bg-primary transition-colors">
                <span class="material-symbols-outlined text-[20px]">headphones</span>
            </div>
            <span class="text-[#181811] font-bold">Phụ Kiện</span>
        </a>
    </div>
</section>