@using MyWeb.Models
@model HomeProductListSectionViewModel


<section class="w-full max-w-[1440px] px-6 md:px-10 py-8 mb-12 mx-auto">
    <div class="flex items-center justify-between mb-6">
        <h2 class="text-[#181811] text-[28px] font-bold leading-tight tracking-[-0.015em]">@Model.Title</h2>
        <a href="/Product" class="text-sm font-bold underline decoration-2 decoration-primary underline-offset-4 hover:text-gray-600 transition-colors">Xem tất cả</a>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6">

        @if (Model.Products != null && Model.Products.Any())
        {
            foreach (var item in Model.Products)
            {
                <partial name="_ProductCard" model="item" />
            }
        }
        else
        {
            <div class="col-span-full text-center py-10 text-gray-500">
                Chưa có sản phẩm nào.
            </div>
        }

    </div>
</section>