@model MyWeb.ViewModels.CartViewModel

@{
    ViewData["Title"] = "Giỏ hàng";
}

<main class="flex-1 w-full bg-[#f8f8f5]">
    <section class="w-full max-w-[1440px] mx-auto px-6 md:px-10 py-8">
        <div class="flex items-center gap-2 text-sm text-gray-500 mb-6">
            <a class="hover:text-primary transition-colors font-medium" href="/">Trang chủ</a>
            <span class="material-symbols-outlined text-[16px]">chevron_right</span>
            <span class="text-[#181811] font-bold">Giỏ hàng</span>
        </div>

        <div class="flex items-end gap-4 mb-8">
            <h1 class="text-[#181811] text-3xl md:text-4xl font-black tracking-[-0.02em]">Giỏ hàng của bạn</h1>

            <span class="text-lg font-medium text-gray-500 mb-1">
                (@Model.Items.Sum(x => x.Quantity) sản phẩm)
            </span>

        </div>


        @* nếu Cart trống *@
        @if (Model.Items == null || !Model.Items.Any())
        {
            <partial name="Partials/_CartEmpty" />
        }
        else
        {
            <div class="flex flex-col lg:flex-row gap-8">


                <partial name="Partials/_CartList" model="Model" />


            </div>

            <div class="lg:w-[400px] shrink-0">

                <partial name="Partials/_CartSummary" model="Model" />

            </div>
        }
        
    </section>
</main>