@model MyWeb.Models.Order

@{
    ViewData["Title"] = "Đặt hàng thành công";
}

<div class="w-full flex flex-col items-center pt-10 pb-20 px-6">
    <div class="w-full max-w-5xl">

        <partial name="Partials/_OrderSuccessHeader" model="Model" />

        <div class="grid grid-cols-1 lg:grid-cols-12 gap-8">
            <div class="lg:col-span-8 flex flex-col gap-6">

                <partial name="Partials/_OrderSuccessProducts" model="Model" />

                <partial name="Partials/_OrderSuccessShipping" model="Model" />

            </div>

            <partial name="Partials/_OrderSuccessDetailCheckout" model="Model" />

        </div>
    </div>
</div>